
body{
    background-color: #242237;
}

h1{
    color: antiquewhite;
}

p {
    color: antiquewhite;
    
}

.estrellasPequeñas{
    background-image: url(../../img/stars01.png);
}
.estrellasMedianas{
    background-image: url(../../img/stars02.png);
}

